<footer data-role="footer" class="revealed">
    <div class="footer__badges">
        <div class="logo mnmo"></div>
        <div class="logo html"></div>
        <div class="logo github"></div>
    </div>
    <p class="footer__text">
        <strong>{{app.title}}</strong>
        is free software, by
        <a target="_blank" href="{{app.author.url}}">{{app.author.name}}</a>,
        in HTML5.<br>
        Know your rights and get the source at
        <a target="_blank" href="{{app.repository.url}}">Github</a>
    </p>
    <p class="footer__version">
        {{app.version}}
    </p>
</footer>
