<!DOCTYPE html>
<html{{#if appcache}} manifest="{{appcache}}"{{/if}}>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        {{#if theme}}
        <link rel="stylesheet" href="css/theme-{{theme}}.css">
        {{/if}}
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        {{>body}}

{{#if built}}
    <script src="js/main-built.js"></script>
{{else}}
    <script src="js/lib/requirejs/require.js" data-main="js/main" ></script>
{{/if}}

    </body>
</html>